# Meta (Facebook) Marketing API Credentials
APP_ID=your_app_id_here
APP_SECRET=your_app_secret_here
ACCESS_TOKEN=your_access_token_here
AD_ACCOUNT_ID=act_your_account_id_here
PAGE_ID=your_page_id_here
PIXEL_ID=your_pixel_id_here
